* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 460px) {
  .main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 110px 60px;
    text-align: center;
    background-color: #EDFFFA;
  }

  .title {
    font-size: 55px;
  }

  .meditate-logo-main {
    display: flex;
    width: 200px;
  }

  .are-you-ready {
    font-size: 40px;
    margin-bottom: 20px;
  }

  li {
    text-align: start;
    font-size: 25px;
  }

  .get-started {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    width: auto;
    height: auto;
    cursor: pointer;
    font-size: 25px;
    background-color: #9BEFD7;
  }

  .get-started:hover {
    background-color: #EDFFFA;
  }

  .get-started:active {
    background-color: #9BEFD7;
  }
}

@media (max-width: 460px) {
  .main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 120px 60px;
    background-color: #EDFFFA;
    text-align: center;
  }

  .title {
    font-size: 30px;
  }

  .meditate-logo-main {
    display: flex;
    width: 200px;
  }

  .are-you-ready {
    font-size: 20px;
    margin-bottom: 20px;
  }

  li {
    text-align: start;
    font-size: 15px;
  }

  .get-started {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    width: auto;
    height: auto;
    background-color: #9BEFD7;
    cursor: pointer;
  }

  .get-started:hover {
    background-color: #EDFFFA;
  }

  .get-started:active {
    background-color: #9BEFD7;
  }
}