* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
#D0E8F2
#CAEBEC
#E3F2F8
#DDF6F6
*/

@media (max-width: 450px) {
  .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #DDF6F6;
    width: 100%;
    height: 100px;
    z-index: 1;
  }

  .language {
    margin-left: 15px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .meditate-logo {
    display: flex;
    width: 40px;
  }

  .menu-btn {
    display: flex;
    position: relative;
    background-color: #DDF6F6;
    border: none;
    margin-right: 15px;
    cursor: pointer;
  }

  .hamburger-menu {
    display: none;
  }

  .hamburger-menu-open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: #DDF6F6;
    right: 0%;
    left: 0%;
    top: 100px;
    z-index: 1;
    padding-bottom: 20px;
  }

  .hamburger-menu-open > li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .hamburger-menu-img {
    display: flex;
    width: 40px;
  }
}