* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 460px) {
  .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9BEFD7;
    width: 100%;
    height: 100px;
    z-index: 2;
    padding: 0 20px;
  }

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .meditate-logo {
    display: flex;
    width: 60px;
  }

  .logo-text {
    font-size: 40px;
  }

  .language {
    display: flex;
    justify-content: space-between;
  }

  .ita,
  .eng {
    display: flex;
    position: relative;
    background-color: #EFFFF1;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    padding: 8px;
    min-width: 20px;
  }

  .menu-btn {
    display: flex;
    position: relative;
    background-color: #9BEFD7;
    border: none;
    cursor: pointer;
  }

  .hamburger-menu,
  .hamburger-menu-open {
    position: absolute;
    top: -250%;
    right: 0;
    left: 0;
    background-color: #9BEFD7;
    border-top: 2px solid #EFFFF1;
    border-radius: 4px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.8s ease;
  }

  .hamburger-menu-open {
    top: 100px;
    opacity: 1;
  }

  .hamburger-menu > li,
  .hamburger-menu-open > li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 45px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .hamburger-menu-open > li:hover {
    background-color: #EFFFF1;
  }

  .hamburger-menu-open > li:active {
    background-color: #9BEFD7;
  }

  .hamburger-menu-img {
    display: flex;
    width: 40px;
  }
}

@media (max-width: 460px) {
  .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9BEFD7;
    width: 100%;
    height: 100px;
    z-index: 2;
    padding: 0 10px;
  }

  

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .meditate-logo {
    display: flex;
    width: 40px;
  }

  .language {
    display: flex;
    justify-content: space-between;
  }

  .ita,
  .eng {
    display: flex;
    position: relative;
    background-color: #EFFFF1;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    padding: 8px;
    min-width: 20px;
  }

  .menu-btn {
    display: flex;
    position: relative;
    background-color: #9BEFD7;
    border: none;
    cursor: pointer;
  }

  .hamburger-menu,
  .hamburger-menu-open {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    background-color: #9BEFD7;
    border-top: 2px solid #EFFFF1;
    border-radius: 4px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.8s ease;
  }

  .hamburger-menu-open {
    opacity: 1;
  }

  .hamburger-menu > li,
  .hamburger-menu-open > li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .hamburger-menu-open > li:active {
    background-color: #EFFFF1;
  }

  .hamburger-menu-img {
    display: flex;
    width: 40px;
  }
}