* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about {
  opacity: 0;
  animation: fadeIn 4s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro {
  animation-delay: 1s;
}

.quote-one {
  animation-delay: 2s;
}

.quote-two {
  animation-delay: 3s;
}

.quote-three {
  animation-delay: 4s;
}

.quote-four {
  animation-delay: 5s;
}

@media (min-width: 460px) {
  .about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding-bottom: 100px;
    background-color: #EDFFFA;
    text-align: center;
    top: 100px;
    z-index: 1;
  }

  .intro {
    font-size: 25px;
    padding-bottom: 50px;
  }

  .quote-one,
  .quote-two,
  .quote-three,
  .quote-four {
    font-size: 22px;
    padding-bottom: 15px;
  }
}

@media (max-width: 460px) {
  .about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #EDFFFA;
    text-align: center;
    top: 100px;
    z-index: 1;
  }

  .intro {
    font-size: 15px;
    padding-bottom: 10px;
  }

  .quote-one,
  .quote-two,
  .quote-three,
  .quote-four {
    font-size: 12px;
    padding-bottom: 15px;
  }
}