* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 450px) {
  .about {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #D0E8F2;
    text-align: center;
    top: 100px;
    z-index: 1;
  }

  .intro {
    font-size: 15px;
    padding-bottom: 10px;
  }

  .quote-one,
  .quote-two,
  .quote-three,
  .quote-four {
    font-size: 12px;
    padding-bottom: 15px;
  }
}