* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 450px) {
  .footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    background-color: #DDF6F6;
    width: 100%;
    height: 50px;
    z-index: 1;
  }

  .instagram-img,
  .github-img,
  .linkedin-img {
    width: 20px;
    height: 20px;
}
}